* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 100%;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 80px;
}

.navbar__logo h1 {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}

.navbar__items {
}

.navbar__items ul {
  text-transform: uppercase;
}

.navbar__items li {
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0 15px;
  cursor: pointer;
  padding: 11px;
}

.navbar__items li:hover {
  border: 1px solid white;
  padding: 10px;
}

.menubar i {
  color: white;
  font-size: 3rem;
  line-height: 100px;
  z-index: 100;
  position: relative;
  display: none;
}

.banner {
  width: 100%;
  height: 90vh;
  background-color: rgb(20, 20, 20);
}

.banner div {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.banner div h1 {
  color: white;
  font-size: 5rem;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  margin-left: 30px;
}

.banner div button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  margin-top: 40px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s linear;
  text-transform: uppercase;
  margin-left: 30px;
}

.banner div button:hover {
  background-color: white;
  color: rgb(36, 36, 36);
}

.portfolio {
  width: 100%;
  background-color: rgb(194, 194, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.portfolio h1 {
  color: rgb(36, 36, 36);
  font-size: 3rem;
  margin-bottom: 20px;
}

.portfolio p {
  color: rgb(36, 36, 36);
  width: 50%;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.about {
  width: 100%;
  background-color: rgb(194, 194, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.about h1 {
  color: rgb(36, 36, 36);
  font-size: 3rem;
  margin-bottom: 20px;
}

.about p {
  color: rgb(36, 36, 36);
  width: 50%;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.about button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.footer {
  width: 100%;
  background-color: #d24d57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  flex-wrap: wrap;
}

.footer .contact_items {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .contact_items h1 {
  width: 40%;
  font-size: 2.8rem;
  color: white;
  margin: 30px 0;
  text-align: center;
}

.footer .contact_items h4 {
  width: 70%;
  font-size: 1.5rem;
  color: white;
  margin: 30px;
  text-align: center;
  font-weight: lighter;
  line-height: 2rem;
}

.footer .contact_items ul {
  color: white;
  list-style: none;
}
.footer .contact_items ul li {
  display: inline-block;
  color: white;
  list-style: none;
  border: 2px solid white;
  margin: 20px;
  width: 50px;
  height: 50px;
  transition: 0.3s linear;
}

.footer .contact_items ul li:hover {
  background-color: white;
  color: #d24d57;
  border: 2px solid white;
  cursor: pointer;
}

.footer .contact_items ul li i {
  font-size: 1.4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .subscribe {
  margin: 30px;
}

.footer .subscribe input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
  padding-left: 10px;
}

.footer .subscribe button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(36, 36, 36);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 952px) {
  .navbar {
    width: 100%;
    height: 60px;
  }

  .navbar__logo img {
    width: 60px;
  }

  .navbar__logo h1 {
    font-size: 1.5rem;
    margin-right: 100px;
  }

  .navbar__items {
    position: absolute;
    width: 100%;
    height: 0vh;
    background-color: black;
    z-index: 100;
    transition: 0.3s linear;
  }

  .navbar__items ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 30%;
    transform: translate(-50%);
    display: none;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .navbar__items li {
  }

  .menubar i {
    color: white;
    font-size: 2rem;
    line-height: 100px;
    display: block;
  }

  .banner {
    width: 100%;
    height: 60vh;
  }

  .banner div {
    width: 100%;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner div h1 {
    font-size: 3rem;
  }

  .about p {
    width: 95%;
    line-height: 1.8rem;
  }

  .footer .contact_items h1 {
    width: 85%;
    font-size: 2rem;
  }

  .footer .contact_items ul li {
    margin: 20px;
    width: 40px;
    height: 40px;
  }

  .footer .contact_items ul li i {
    font-size: 1rem;
  }

  .footer .subscribe input {
    width: 200px;
  }

  .footer .subscribe button {
    width: 80px;
  }
}
